/*Сделать загрузчик*/
body{
font-family: Arial, sans-serif;
} 




/* Начало загрузчика*/

.loader {
    background: #000;
    background: radial-gradient(#222, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: ;
    -webkit-animation:ppp 6s ease forwards ;
    -o-animation:ppp 6s ease forwards;
    animation:ppp 6s ease forwards;
}
@keyframes ppp{
    from{opacity:1; }
    to{opacity:0; }
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Конец загрузчика*/





nav{    
width: 100%;
height: 60px;
background:#344051; 
position: fixed;
z-index: 100;
}    

.logo{    
color: #fff;
font-size: 28px; 
line-height: 60px;    
float: left;
-webkit-animation: comming 2s ease;
-o-animation:comming 2s ease;
animation:comming 2s ease;    
} 
main{
width:100%; 
height:100%;
}
.menu{
float:left; 
}   


.menu li{
float:left;    
line-height: 60px;  
color: #fff;
margin-right:40px; 
font-size: 14px; 
text-transform: uppercase;
-webkit-animation:topshift 0.4s ease forwards;
-o-animation:topshift 0.4s ease forwards;
animation:topshift 0.4s ease forwards;
opacity:0;         
}    
    
.main{
width:100%; 
height:100%; 
background:url(../img/boy.png)90% 100%/auto 85% no-repeat,url(../img/bg.jpg) center/cover no-repeat; }

.title__container{
float:left;
color:#2c384a ;
text-align: center;
width: 100%;
opacity: 0 ;
-webkit-animation: teitlemove 1s ease forwards;
-o-animation: teitlemove 1s ease forwards;
animation: teitlemove 1s ease forwards;
-webkit-animation-delay: 2.4s ;
-o-animation-delay: 2.4s;
animation-delay: 2.4s ;
}

.title__container h1{
font-family: Arial, sans-serif;
font-size:72px ;
font-weight: bold ;
}
.title__container h4{
margin-top:40px ;
font-size:22px; 
color:#79818d;    
}
.title__container input{
height: 40px;
text-align: center;
border: 2px solid #6d7682;
background: none;
border-radius: 5px;
color:#6d7682;
font-size: 13px;
padding: 0px 16px;
margin: 58px 14px 0px 14px;
}
.menu li a{
    transition:all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #e98500;
}
.menu li a:active{
    transform: scale(1.1);
}

.title__container input{
    transition:all 0.2s;
    transform: scale(1);
}
.title__container input:hover{
    background:#344051;
    color: white;
}
.title__container input:active{
    transform: scale(1.1);
}
@keyframes comming{
    from{
        opacity:0 ;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
   from{
        opacity:0;
        margin-top: -80px;
    }
    to{
        opacity:1;
        margin-top: 0px;
    } 
}
@keyframes teitlemove{
   from{
        opacity:0;
        margin-left: -500px;
    }
    to{
        opacity:1;
        margin-left: 0px;
    } 
}
.white-btn:visited{
    color: white;
}
@media (max-width: 991px){
    .title__container, .title__container h4, .title__container input{
    color: white;
    position: relative;
    z-index: 3;
}
    .title__container input{
        border: 2px solid #fff; 
    } 
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left:0 ;
        right:0 ;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}



.menu li:nth-child(2){
    animation-delay:0.4s;  
}
.menu li:nth-child(3){
    animation-delay:0.8s;  
}
.menu li:nth-child(4){
    animation-delay:1.2s;  
}
.menu li:nth-child(5){
    animation-delay:1.6s;  
}
.menu li:nth-child(6){
    animation-delay:2s;  
}



.main2{
    /*float:left;*/ 
    font-size:20px;
    color:#3f495a ;
    text-align: center; 
    background:url(../img/1.png) center/cover no-repeat;
    height:100%;
    margin-top:108px; 
    
    /*padding: 0px 585px 0px 585px;*/
    -webkit-animation:anime 1s ease forwards ;
    -o-animation:anime 1s ease forwards;
    animation:anime 1s ease forwards;
    -webkit-animation-delay: 3.5s ;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s ;
    animation-direction: alternate;
    animation-duration:4s; 
    }
.main2 p{
    padding: 0px 0px 43px 0px ;
}
.main2 h2{
    font-size:40px; 
    color:#263244;  
    font-weight: bold;
    
    }
.logo2 {
   padding: 0px 0px 60px 0px;
}
.logo1{
   padding: 0px 0px 25px 0px; 
}
.main2 input{
    height: 30px;
    text-align: center;
    border-radius: 8px;
    font-size: 13px;
    background:url(../img/ik.jpg) 5% 60% /15px 14px no-repeat;
    border: 3px solid #6f707e;
    color:#6f707e;
    margin:0px 0px 97px 0px ;
    padding:10px 10px 23px 33px;
}
.main2 input{
    transition:all 0.2s;
    transform: scale(1);
}
.main2 input:active{
    transform: scale(1.2);
}
.main2 input:hover{
   color: black;
}


@keyframes anime{
   from{
        opacity:0;
    
    }
    to{
        opacity:1;
         
    } 
}



@media(min-width:992px){
    .main2{
    width:50%;
    margin-left: 430px ;
    
    }
} 

@media(max-width:991px){
    .main2{
      width:800px;  
    }
}
@media(max-width:823px){
    .main2{
      width:600px;  
    }
}
@media(max-width:591px){
    .main2{
      width:400px;  
    }
}
@media(max-width:391px){
    .main2{
      width:300px;  
    }
}











.blok{
    float:left;
    height: 523px;
    width: 100%;
    font-size:20px;
    color:#5f6674 ;
    background:url(../img/fon.jpg);
}
.blok h2{
    font-size:40px; 
    color:#263244;  
    font-weight: bold;
    text-align: center;
    padding: 108px 0px 0px 0px ;
}
.logo3{
    padding: 0px 0px 102px 0px ;
    text-align: center;
}
.logo4{
    float:left;
    /*margin: 0px 82px 0px 365px;*/
    font-size: 16px;
    width: 222px;
    text-align: center;
    }
.logo4 p{
    color: #cf7600;
    font-size: 20px;
    font-weight: bold;
    /*margin:40px 0px 20px 0px;*/ 
}
.logo4 span{
    color: #3f495a;
    font-size:16px;  
    }
.logo5{
    float:left;
    /*margin-right:82px;*/
    font-size: 16px;
    width: 222px;
    text-align: center;
    }
.logo5 p{
    color: #cf7600;
    font-size: 20px;
    font-weight: bold;
    
    /*margin:40px 0px 20px 0px;*/
}
.logo5 span{
    color: #3f495a;
    font-size:16px; 
}
.logo6{
   float:left;
    /*margin-right:82px;*/
    font-size: 16px;
    width: 222px;
    text-align: center;
    }
.logo6 p{
    color: #cf7600;
    font-size: 20px;
    font-weight: bold;
    /*margin:40px 0px 20px 0px;*/
    }
.logo6 span{
    color: #3f495a;
    font-size:16px;
}
.logo7{
    float:left;
    /*margin-right:82px;*/
    font-size: 16px;
    width: 222px;
    text-align: center;
}
.logo7 p{
    color: #cf7600;
    font-size: 20px;
    font-weight: bold;
    /*margin:40px 0px 20px 0px;*/
}
.logo7 span{
    color: #3f495a;
    font-size:16px;
}
.adapt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media(max-width:915px){
    .blok{
        height:650px;
    }
}




.blok2 {
    float:left;
    font-size:20px;
   
}
.blok2 {
    
    height: 1500px;
    width: 100%;
    
 }
.app {
     float:left;
    height: 310px;
    width: 100%;
    background:url(../img/sloy2.jpg)center/cover no-repeat;
}
.app h2{
   
    font-size:40px; 
    color:#384354;  
    font-weight: bold;
    text-align: center;
    padding: 108px 0px 0px 0px ;
}
.log2{
    
    padding: 0px 0px 40px 0px ;
    text-align: center;
}


.blok2 h4{
    text-align:center;
    color: #626976;
    font-size: 16px;
    }


.blok2 h3{
    float:left;
    color: #384354;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.client{
    width: 285px;
    text-align: left;
    line-height:33px;
    float:left;
    /*margin: 0px 0px 0px 389px;*/
    font-size: 16px;
    color: #384354;
}
.gg{
    float:left;
    width: 780px;
    color: #384354;
    
}
@media(max-width: 780px){
    .gg{
        width:500px;
        text-align: center;
    }
    .gg h4{
        padding-left:110px; ;
    }
}
.gg h4{
    font-weight: bold;
    color: #384354;
    font-size: 30px;
    text-align:left;
}
.blok2 input{
    float:left;
    height: 40px;
    width: 204px;
    text-align: center;
    border-radius: 8px;
    font-size: 13px;
    border: 3px solid #63b5ae;
    color:#fff;
    background-color: #63b5ae;
}
.blok2 input{
    transition:all 0.2s;
    transform: scale(1);
}
.blok2 input:active{
    transform: scale(1.2);
}
.blok2 input:hover{
   color: black;
   background:rgba(99, 181, 174, 0.5); 
}



.rs{
    float:left;
    height: 800px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
@media(max-width:1100px){
    .rs{
        opacity:0; 
        position: absolute;
    }
    
}

.rsgif{
    
    text-align: left;
    background:url(../img/sloy6.jpg)center/cover no-repeat;
    
}
.rs h2{
    font-size:40px; 
    color:#384354;  
    font-weight: bold;
    text-align: left;
    padding-left: 285px;
}
.rs h3{
    font-size: 30px;
    font-weight: bold;
    color: #4d525b;
    margin: 50px 0px 24px 0px ;
    
}
.rs select{
    height: 60px;
    width: 890px; 
    color: #737373;
    font-size: 15px;
    padding-left:24px; 
    background:url(../img/3v1.jpg);
    
}

.liniya{
    font-size: 2px;
    padding-top:37px;
}
.rs h5{
    color: #1c2534;
    font-size:16px; 
    font-weight: bold;
    padding: 27px 0px 0px 0px;
    width: 890px;
    text-align: right;
}
.slovo{
    float:left;    
    text-align: left;
}
/*Сделать параллакс эффект*/
.stat{
    float:left; 
    color: #323e4f;
    font-size:20px;
    width: 100% ;
    height: 500px;
    background:url(../img/fon2.jpg)center/cover no-repeat;
    background-attachment: fixed;
}
@media(max-width:1000px){
    .stat{
       height:700px;  
    }
}

.stat h2{
    text-align:center;
    color: #323e4f;
    font-size:28px;
    font-weight: 600;
    padding: 100px 0px 0px 0px;
    
}
.boox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.log1 {
    float:left;
    
    font-size: 16px;
    width: 250px;
    text-align: center;
   
}
.log3 {
    float:left;
    
    font-size: 16px;
    width: 250px;
    text-align: center;
   
    
}
.log4 {
    float:left;
    
    font-size: 16px;
    width: 250px;
    text-align: center;
    
    
}
.log5 {
    float:left;
    
    font-size: 16px;
    width: 200px;
    text-align: center;
   
    
}







.stat p{
    color: #323e4f;
    font-size: 28px;
    font-weight: 900;
    margin:33px 0px 30px 0px;
}
.stat small{
    color: #323e4f;
    font-size: 15px;
    font-weight: 600;
}

.otziv{
    float:left;
    width: 100% ;
    height: 593px;
    background:url(../img/sloy5.jpg)center/cover no-repeat;
}
.otziv h2{
    font-size:30px; 
    color:#243042;  
    font-weight: bold;
    text-align: center;
    padding:105px 0px 0px 0px; 
}
.gif{
    text-align: center;
    padding-bottom:38px;
}
.otziv p{
    font-size:20px; 
    color:#243042;
    width: 690px;
    text-align: center;
    
    padding-bottom:40px; 
    
}
.teeext{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.otziv center{
    color:#243042;
    font-size:16px;
}
.point{
    text-align: center;
    padding:50px 0px 90px 0px ;
}
.point img{
    padding-right:15px; 
}
.kontakt{
    float:left;
    text-align: center;
    width: 100% ;
    height: 900px;
    background:url(../img/fon3.jpg)center/cover no-repeat;
   
}
.kontakt h2{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin: 105px 0px 32px 0px ;
}
.kontakt center{
    font-size:16px;
    color: #e9e9ea;
    text-align: center;
    padding-bottom:42px;
    margin-left: 1%;
}

.logot{
    float:left;
    color: #fff;
    margin-left: 25%;
    font-size: 16px;
    width: 160px;
    height: 73px;
    text-align: center;
}
@media(max-width:850px){
    .logot{
       margin-left: 7%; 
    }
}
.logot1{
    float:left;
    color: #fff;
    
    font-size: 16px;
    width: 160px;
    height: 73px;
    text-align: center;
    
}
.logot2{
    float:left;
    color: #fff;
    
    font-size: 16px;
    width: 130px;
    height: 73px;
    text-align: center;
    
}
.kontakt p{
    padding-top: 15px;
}
.sv{
    float:left;
    /*padding-left: 550px;*/
    width: 100%;
    
        
    
    
}

}
@media(max-width:767px){
    .textarea{
      width:400px;  
    }
}
.sv h4{
    padding-top:50px; 
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-bottom:45px; 
}
.sv input{
    height: 35px;
    width: 365px; 
    color: #707173;
    font-size: 16px;
    margin: 0px 0px 1px 0px; 
    background-color:#d8dbe1;
    
}

.sc input{
    transition: all 0.3s;
    transform: scale(1);
}
.sc input:active{
    transform: scale(1.2);
    
}
.sc input:hover{
   color: #fff;
   background:#7b327f;
    border: 3px solid #ffffff; 
    border-radius: 20px;
}
.sv textarea{
    height: 100px;
    width: 735px;
    color: #707173;
    font-size: 16px;
    text-align: center;
    padding-right: 630px;
    background:url(../img/polesms.png);
}
@media(max-width:760px){
    .sv textarea{
        width:365px;
    }
}
.sc input{
    height: 45px;
    width: 125px;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    border: 3px solid #f9faff;
    color:#f9faff;
    background-color: Transparent ;
    margin:35px;
    
}
.karta{
    float:left;
    height: 356px;
    width: 100%;
    background:url(../img/karta2.png) center/cover no-repeat;
}
.here{
    float:left;
    padding-top:145px;
    padding-left:720px; 
}
.last{
    float:left;
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 100px;
    color: #dfe1e2;
    background:url(../img/last.jpg);
}

.last center{
    padding-top:40px;
    
}















